.feature-card {
    width: Fixed (350px) px;
    height: Hug (348px) px;
    padding: 24px 32px 24px 32px;
    gap: var(--itemspacings);
    border-radius: 16px 0px 0px 0px;
    opacity: 0px;
    background: var(--color-cyan-1270, #0c2b2fb2);
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .title-description-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .title {
    color: #ffffff;
    font-family: var(--fontfamilyFont1);
    font-size: var(--fontsize22);
    font-weight: 500;
    line-height: var(--lineheight26);
    letter-spacing: var(--letterspacing-044);
    text-align: left;
  }
  .description {
    font-family: var(--fontfamilyFont1);
    font-size: var(--fontsize16);
    font-weight: 400;
    line-height: var(--lineheight24);
    text-align: center;
    color: var(--color-cyan-8570, #b0faffb2);
  }
  .features-image {
    width: 100px;
    height: 100px;
  }